@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #fbfbfb;
}
/* home page start */
.hero {
  background: linear-gradient(transparent, rgb(59 11 11)),
    url(../public/images/main-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 634px;
}

.btn {
  background: transparent;
  color: #ffffff;
  padding: 15px;
  border: none;
  font-size: 16px;
}

.btn-login {
  padding-right: 30px;
  font-size: 16px;
}

.btn-login:hover {
  color: white;
}

.main-header {
  display: flex;
  justify-content: end;
  padding: 20px;
  padding-right: 140px;
}

.btn-border {
  border: 1px solid white;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
}

.btn-gallery {
  top: 85%;
  right: 5%;
  background-color: rgba(245, 222, 179, 0.411);
  color: black;
  font-weight: bold;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.logo {
  background-color: #fbfbfb;
  color: #eb2929;
  font-size: 70px;
  font-weight: bold;
  border-radius: 50%;
  padding: 20px 41px;
  cursor: pointer;
}

.main-text {
  font-size: 43px;
  font-weight: bold;
  padding-top: 12px;
  color: white;
}

.search {
  width: 830px;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}

.input-location {
  width: 35%;
  padding: 18px;
  font-size: 16px;
  outline: none;
  border: none;
  /* color: #636F88; */
}

.input-search {
  width: 62%;
  padding: 18px;
  font-size: 16px;
  outline: none;
  border: none;
}
.account-btn {
  border: none;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  padding: 12px 12px;
  font-size: 18px;
}

.account-btn:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}

.selector {
  width: 62%;
  padding: 15px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}

.selectField {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.section-list {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  flex-wrap: wrap;
}
.quick-search {
  width: 80%;
  margin: auto;
  margin-top: 38px;
}

.quick-search > h1 {
  color: #192f60;
  font-weight: bold;
}

.quick-search > p {
  color: #8c96ab;
  font-size: 19px;
  margin-top: 10px;
  margin-left: 5px;
}

.section-item {
  display: flex;
  background-color: white;
  width: 30%; /*  it will take parent 80% as 100% width then cal */
  height: 190px;
  box-shadow: 0px 3px 6px 0px #00000029;
  /* x-axis(left-right), y-axis(top-bottom),blur , scale, color   */
  margin-bottom: 25px;
  transition: transform 250ms;
  cursor: pointer;
}

.back-btn {
  border: none;
  padding: 8px 8px;
  color: white;
  font-size: 17px;
  border-radius: 5px;
}

.make-btn {
  border: none;
  padding: 8px 8px;
  color: white;
  font-size: 17px;
  border-radius: 5px;
}

.process-btn {
  color: white;
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-right: 10px;
}

.section-item:hover {
  box-shadow: 0px 3px 6px 0px darkgray;
  transform: translateY(3px);
}

/* .pagination button.active {

  background-color: red;
} */

.section-img {
  width: 45%; /*  it will take parent 30% as 100% width then cal */
  height: 100%;
  overflow: hidden;
}

.section-img > img {
  /* height: 100%;
    width: 100%;        /* it will take section-img => 40% as 100%
    */
  height: 120%;
  width: 120%; /* in this case need to use overflow: hidden to parent element */

  transform: translateX(-30px);
  /* move element, rotate element, scale */
}

.section-item-title {
  width: 55%;
  padding: 35px;
  padding-left: 43px;
}

.section-item-title > p {
  color: #192f60;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 6px !important;
}

.section-item-title > span {
  color: #8c96ab;
  font-size: 16px;
}
/* home page end */

/* restaurant start */
.brand {
  background-color: white;
  height: 54px;
  width: 55px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 32px;
  font-weight: bold;
  color: #eb2929;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  border: none;
  font-size: 18px;
  color: white;
  padding: 6px 6px;
  border-radius: 5px;
}

.bg-color {
  background-color: #eb2929;
}

.restaurant-main-image {
  height: 50vh;
  overflow: hidden;
}
.restaurant-main-image img {
  height: 150%;
  width: 100%;
}
.btn-gallery {
  top: 85%;
  right: 5%;
  background-color: rgba(245, 222, 179, 0.411);
  color: black;
  font-weight: bold;
}
.menu-item-btn {
  background-color: #eb2929;
  font-size: 17px;
  font-weight: 500;
}

/* dropDown start */
.dropDown {
  width: 780px;
  position: relative;
  margin: 100px auto;
  user-select: none;
}

.dropDown-img {
  width: 70px;
  border-radius: 50%;
}
.dropDown-paragraph {
  font-size: 12px;
  margin-left: 83px;
  margin-top: -13px;
}

.dropDown-title {
  margin-top: -10px;
}

.dropDown .dropDown-btn {
  padding: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropDown-btn > img {
  width: 25px;
}

.dropDown .dropDown-content {
  position: absolute;
  top: 90%;
  left: 0;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  padding: 11px 16px 10px 0px;

  font-weight: 500;
  color: #333;
  width: 42%;
}

.dropDown .dropDown-content .dropDown-item {
  padding: 10px 10px 1px 10px;
  transition: all 0.2s;
}

.dropDown-item {
  background-color: white;
}

.dropDown .dropDown-content .dropDown-item:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

/* dropDown end */

/********** bootstrap-restaurant-page*/
.restaurant-main-image {
  height: 70vh;
  overflow: hidden;
}
.restaurant-main-image img {
  height: 150%;
  width: 100%;
}
.btn-gallery {
  top: 85%;
  right: 5%;
  background-color: rgba(245, 222, 179, 0.411);
  color: black;
  font-weight: bold;
}

/* menu item  */
.menu-food-item {
  width: 90px;
  height: 90px;
  background-color: #192f60;
  position: relative;
}
.menu-food-item .add {
  position: absolute;
  left: 25%;
  bottom: -20%;
}
.menu-food-item img {
  width: 100%;
  height: 100%;
}
.menu-food-item .order-item-count {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -20%;
}
.menu-food-item .order-item-count span {
  background-color: white;
  padding: 2px 5px;
  border: 2px solid gray;
  margin: 0 2px;
}

/* search page start */

.hand {
  cursor: pointer;
}
.food-shadow {
  box-shadow: 0 0 5px 0px gray;
  cursor: pointer;
}
.food-item {
  width: 120px;
  height: 120px;
  border-radius: 25px;
}

.menu-item-btn {
  background-color: #eb2929;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
}

.pages {
  list-style: none;
  padding: 0;
  display: flex;
}
.pages li {
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  color: gray;
  font-weight: bold;
}
.pages .active {
  border: 1px solid white;
  color: white;
  background-color: gray;
}

.font-size-18px {
  font-size: 18px;
}

.pagination {
  margin: 50px;

  display: flex;
  justify-content: center;
}

.pagination > span {
  padding: 20px;
  border: 1px solid gray;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px;
}

.pagination > span:hover {
  background-color: rgb(209, 208, 208);
}

.pagination__active {
  background-color: rgb(209, 208, 208);
}

.font-size-15px {
  font-size: 15px;
}

.margin-b-3px {
  margin-bottom: 3px;
}

.font-size-22px {
  font-size: 22px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    /* background: url(./main-img.png) linear-gradient(transparent , rgb(59 11 11)), no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .btn {
    display: none;
  }

  .logo {
    background-color: #fbfbfb;
    color: #eb2929;
    font-size: 48px;
    font-weight: bold;
    border-radius: 50%;
    padding: 9px 21px;
    cursor: pointer;
  }
  .main-text {
    font-size: 27px;
    font-weight: bold;
    padding-top: 12px;
    color: white;
    text-align: center;
  }

  .search {
    width: 500px;
    display: block;
    /* margin-top: 41px; */
    margin: auto;
  }

  .input-location {
    width: 70%;
    padding: 15px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .selector {
    width: 70%;
    padding: 15px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
  }

  .quick-search > h1 {
    color: #192f60;
    font-weight: bold;
    font-size: 28px;
  }

  .quick-search > p {
    color: #8c96ab;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .section-item {
    width: 100%; /*  it will take parent 80% as 100% width then cal */
  }

  .section-img > img {
    /* height: 100%;
    width: 100%;        /* it will take section-img => 40% as 100%
    */
    height: 100%;
    width: 120%; /* in this case need to use overflow: hidden to parent element */

    transform: translateX(-30px);
    /* move element, rotate element, scale */
  }

  .section-item-title {
    width: 55%;
    padding: 24px;
    /* padding-left: 43px; */
    padding-top: 35px;
  }

  .section-item-title > p {
    color: #192f60;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 6px !important;
  }

  .section-item-title > span {
    color: #8c96ab;
    font-size: 14px;
  }

  .input-search {
    width: 70%;
    padding: 15px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .account-btn {
    border: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 16px;
    padding: 7px 8px;
    margin-left: 0px;
    margin-right: -20px;
  }

  .account-btn-log-out {
    order: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 4px;
    display: none;
  }

  .account-btn-log-in {
    order: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px 6px;
  }

  .brand {
    background-color: white;
    height: 40px;
    width: 40px;

    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #eb2929;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  ul > li {
    font-size: 14px;
  }

  .btn-gallery {
    top: 85%;
    right: 5%;
    background-color: rgba(245, 222, 179, 0.411);
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
  }

  .menu-item-btn {
    background-color: #eb2929;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 7px;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .add-btn {
    border: none;
    font-size: 16px;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
  }

  .process-btn {
    color: white;
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
  }

  .back-btn {
    border: none;
    padding: 8px 8px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
  }

  .make-btn {
    border: none;
    padding: 8px 8px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
  }

  .restaurant-main-image {
    height: 50vh;
    overflow: hidden;
  }
  .restaurant-main-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .search-title {
    margin-left: -13px;
  }
}
